/* Starship Listesi Stilleri */
.starship-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .starship-item {
    background-color: #282c34;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .starship-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .starship-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .starship-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .starship-item p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .load-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .load-more button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #f0db4f;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .load-more button:hover {
    background-color: #d2b83a;
  }
  